html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header{
    background-image: url(./img/nouman-younas-TM4522xcNRs-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#topbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: larger;
    height: 5%;
}

#firstcontent{
    height: 80%;
    background-color: rgb(0, 0, 0, 0.4);
    text-align: center;
    display: flex;
    flex-direction: row;
}

#home{
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

#topics{
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

#scienceIslam{
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

#whatisislam{
    font-size: 4rem;
    align-items: center;
}

#firstpic{
    position: relative;
    background-image: url(./img/firstpic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    flex: 1;
    margin-right: -15%;
}

#secpic{
    background-image: url(./img/ter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* #firstpic{
    position: relative;
    background-image: url(./img/john-lee-oMneOBYhJxY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
    flex: 1;
    margin-right: -100%;
}

#secpic{
    background-image: url(./img/michael-held-Of-NXuECJbE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%);
} */


/* For mobile devices */

@media (max-width: 1300px) {
    #whatisislam{
        font-size: 3rem;
    }   
    
    
}

@media (max-width: 1600px) {
    #whatisislam{
        font-size: 3rem;
    }   

    #firstcontent{
        height: 85%;
    }
    
    #firstpic{
        position: relative;
        background-image: url(./img/firstcroped.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex: 1;   
    }

    #secpic{
        background-image: url(./img/seccropped.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex: 1;
    }
    

}

@media (max-width: 1500px) {
    @media (min-height: 1500px) {
        #whatisislam{
            font-size: 2rem;
        }
    
        #firstcontent{
            flex-direction: column;
            height: 85%;
        }
    
        #firstpic{
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
            margin-right: 0%;
            margin-bottom: -26%;
        }
    
        #secpic{
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
        }
        @media (max-width:800px) {
            #firstpic{
                margin-right: 0%;
                margin-bottom: -30%;
            }
            @media (max-width:700px) {
                #firstpic{
                    margin-right: 0%;
                    margin-bottom: -35%;
                }
                
        }
    }
}
}

@media (min-height: 1700px) {
    @media (max-width:2400px) {
        #firstpic{
            position: relative;
            background-image: url(./img/firstcroped.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            flex: 1;   
        }
    
        #secpic{
            background-image: url(./img/seccropped.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            flex: 1;
        }
        
    }
}

@media (max-width: 550px) {
    #header{
    }

    #whatisislam{
        font-size: 2rem;
    }

    #firstcontent{
        flex-direction: column;
        height: 85%;
    }

    #firstpic{
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
        margin-right: 0%;
        margin-bottom: -27%;
    }

    #secpic{
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
    }

    
}

@media (max-width: 400px) {
    #firstpic{
        margin-bottom: -30%;
    }

}

@media (max-width: 350px) {
    #firstpic{
        margin-bottom: -40%;
    }
}




/* For mobile devices */