html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header{
    background-image: url(./img/nouman-younas-TM4522xcNRs-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#topbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0, 0.6);
    text-align: center;
    font-size: larger;
    padding: 1em;
}

#firstcontent{
    display: flex;
    height: 70vh;
    background-color: rgb(0, 0, 0, 0.4);
    flex-direction: column;
    text-align: center;
}

#home{
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

#topics{
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

#scienceIslam{
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

#whatisislam{
    font-size: 4rem;
    align-items: center;
}

/* For mobile devices */

@media (max-width: 1300px) {
    #whatisislam{
        font-size: 3rem;
    }   
}

@media (max-width: 600px) {
    #header{
    }

    #whatisislam{
        font-size: 2rem;
    }
}



/* For mobile devices */