html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header{
    /* background-image: url(./img/nouman-younas-TM4522xcNRs-unsplash.jpg); */
    background-color: rgb(255, 255, 255);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#topbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: larger;
    height: 5%;
}

#firstcontent{
    position: relative;
    height: 80%;
    background-color: rgb(0, 0, 0, 0.4);
    text-align: center;
    display: flex;
    flex-direction: row;
}

#home{
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

#topics{
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

#scienceIslam{
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}


#firstpic{
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-image: url(./img/firstpic.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    flex: 1;
    margin-right: -15%;
}

#secpic{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    background-image: url(./img/ter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#firster{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#con1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(1em + 2vw);
    font-weight: bold;
    color: black;
    flex: 1;
    padding-right: calc(1em + 10vw); 
}

#seconder{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
}

#con2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(1em + 2vw);
    font-weight: bold;
    flex: 1;
    padding-right: calc(1em + 2vw); 
    color: white;
}

#or{
    position: absolute;
    display: flex;
    font-size: calc(3em + 2vw);
    left: 44%;
    top: 45%;
}

#o{
    color: white;
    font-weight: bold;
}

#r{
    color: white;
    font-weight: bold;
}






/* For mobile devices */








@media (max-width: 1600px) {
    #firstcontent{
        height: 80%;
    }
    
    #firstpic{
        position: relative;
        background-image: url(./img/firstcroped.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex: 1;   
    }

    #secpic{
        background-image: url(./img/seccropped.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex: 1;
    }

    #con1{
        font-size: calc(1em + 1vw);
        padding-right: 3em;
    }

    #con2{
        font-size: calc(1em + 1vw);
        padding-right: 3em;
    } 

    #firstpic{
        justify-content: center;
    }

    #secpic{
        justify-content: center;
    }

    #or{
        font-size: calc(1em + 3vh);
    } 
}

@media(max-width: 1100px) {
    #firstcontent{
        flex-direction: column;
        height: 95%;
    }

    #firstpic{
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
        margin-right: 0%;
        margin-bottom: -26%;
    }

    #secpic{
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
    }
}

@media (max-width: 1500px) {
    @media (min-height: 1500px) {    
        #firstcontent{
            flex-direction: column;
            height: 95%;
        }
    
        #firstpic{
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
            margin-right: 0%;
            margin-bottom: -26%;
        }
    
        #secpic{
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
        }

        #con1 {
            font-size: calc(1em + 2vh);
            padding-right: 0;
        }

        #con2 {
            font-size: calc(1em + 2vh);
            padding-right: 0;
        }

        #or{
            font-size: calc(1em + 3vh);
        } 

        #firstpic{
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
    
        #secpic{
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }

        #firster{
            bottom: calc(1em + 1vh);
        }
    
        #seconder{
            top: calc(1em + 3vh);
        }

        @media (max-width:800px) {
            #firstpic{
                margin-right: 0%;
                margin-bottom: -30%;
            }
            @media (max-width:700px) {
                #firstpic{
                    margin-right: 0%;
                    margin-bottom: -35%;
                }
                
        }
    }
}
}

@media (max-width: 1100px) {
    @media (max-height:1500px) {
        #con1 {
            font-size: calc(1em + 2vh);
            padding-right: 0;
        }

        #con2 {
            font-size: calc(1em + 2vh);
            padding-right: 0;
        }

        #firstpic{
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
    
        #secpic{
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }

        #firster{
            bottom: calc(1em + 1vh);
        }
    
        #seconder{
            top: calc(1em + 3vh);
        }

        #or{
            font-size: calc(1em + 3vh);
        } 
    }
}

@media (min-height: 3000px) {
    @media (max-width:2100px) {
        #firstcontent{
            flex-direction: column;
            height: 95%;
        }
    
        #firstpic{
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
            margin-right: 0%;
            margin-bottom: -26%;
        }
    
        #secpic{
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
        }
        @media (max-width:1600px) {
            #firstpic{
                margin-bottom: -30%;
            }
        }

        @media (max-width:1400px) {
            #firstpic{
                margin-bottom: -35%;
            }
        }
        @media (max-width:1200px) {
            #firstpic{
                margin-bottom: -40%;
            }
        }
        @media (max-width:1000px) {
            #firstpic{
                margin-bottom: -45%;
            }
        }
    }
}

@media (min-height: 2000px) {
    @media (max-width:1500px) {
        #firstpic{
            margin-bottom: -30%;
        }
    }

    @media (max-width:1400px) {
        #firstpic{
            margin-bottom: -35%;
        }
    }
    @media (max-width:1200px) {
        #firstpic{
            margin-bottom: -40%;
        }
    }
    @media (max-width:1000px) {
        #firstpic{
            margin-bottom: -45%;
        }
    }
}

@media (min-height: 1700px) {
    @media (max-width:2400px) {
        #firstpic{
            position: relative;
            background-image: url(./img/firstcroped.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            flex: 1;   
        }
    
        #secpic{
            background-image: url(./img/seccropped.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            flex: 1;
        }
        
    }
}

@media (max-width: 550px) {
    #firstcontent{
        flex-direction: column;
        height: 95%;
    }

    #firstpic{
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
        margin-right: 0%;
        margin-bottom: -27%;
    }

    #secpic{
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
    }

    #con1 {
        font-size: calc(1em + 1vh);
        padding-right: 0;
        padding-top: 0;
    }

    #firster{
        bottom: calc(1em + 1vh);
    }

    #seconder{
        top: calc(1em + 3vh);
    }

    #con2 {
        font-size: calc(1em + 1vh);
        padding-right: 0;
        padding-bottom: 0;
    }

    #firstpic{
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    #secpic{
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    #or{
        font-size: calc(1em + 3vh);
    } 
    
}

@media (max-width: 400px) {
    #firstpic{
        margin-bottom: -30%;
    }
}

@media (max-width: 350px) {
    #firstpic{
        margin-bottom: -40%;
    }
}

@media (max-width: 1050px) {
    @media (max-height: 1300px) {
        #firstpic{
            margin-bottom: -20%;
        }
    }
    
    @media (max-height: 2000px) {
        #firstpic{
            margin-bottom: -30%;
        }
    }

}

@media (max-width: 900px) {
    @media (max-height: 1300px) {
        #firstpic{
            margin-bottom: -20%;
        }
    }
    
    @media (max-height: 2000px) {
        #firstpic{
            margin-bottom: -35%;
        }
    }
}

@media screen and (orientation: landscape) {
    #firstcontent {
        flex-direction: row;
        height: 95%;
    }

    #firstpic{
        display: flex;
        justify-content: flex-end;
        position: relative;
        background-image: url(./img/Untitled\ design\ \(4\).png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
        flex: 1;
        margin-right: -15%;
        margin-bottom: 0%;
    }
    
    #secpic{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        background-image: url(./img/ter.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
        flex: 1;

    }

    #firstpic{
        align-items: flex-start;
    }

    #con1 {
        font-size: calc(1rem + 1.7vw);
        padding-right: 0;
        padding-bottom: 0;
        padding-right: calc(1rem + 3vw); 
        padding-top: calc(1rem + 10vh);
    }

    #con2 {
        font-size: calc(1rem + 1.5vw);
        padding-right: 0;
        padding-bottom: calc(1rem + 10vh);
        padding-right: calc(1rem + 3vw); 
    }

    #or {
        font-size: calc(1rem + 3vh);
        left: 48%;
    }

    @media (max-width: 1000px) {
        @media (max-height: 1000px) {
            #con1{
                width: 350px;
            }

            #con2 {
                width: 350px;
                padding-right: calc(1rem + 3vw); 
            }
        }
    }

    @media (max-width: 1500px) {
        @media (max-height: 750px) {
            #con1{
                width: 400px;
            }

            #con2 {
                width: 400px;
                padding-right: calc(1rem + 2vw); 
            }
        }
    }

    @media (max-width: 1700px) {

            #con1{
                width: 400px;
            }

            #con2 {
                width: 400px;
                padding-right: calc(1rem + 3vw); 
            }
        }
}

/* For mobile devices */

/* #firstpic{
    position: relative;
    background-image: url(./img/john-lee-oMneOBYhJxY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
    flex: 1;
    margin-right: -100%;
}

#secpic{
    background-image: url(./img/michael-held-Of-NXuECJbE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%);
} */

/* content 1 */

#content1 {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(51, 51, 51); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* color: white; */
    color: black;
}




@media screen and (orientation: landscape) {
    #content1 {
        height: calc(1em + 50vh);
    }
    #intro {
        height: calc(1em + 7vh);
        width: 80%;
    }

    #introcontent {
        font-size: calc(1em + 2vh);
        font-family: Helvetica;
        flex: 1;
    }

    #starter { 
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(51, 51, 51);
        color: white; */
        background-color: white;
        color: black;
    }

    #judgingpic {  
        flex: 0.9;
        height: 80%;
        margin: 10%;
        margin-left: 8%;
        margin-right: 3%;
        background-image: url(./img/wesley-tingey-9z9fxr_7Z-k-unsplash.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #judgingcontent {
        font-size: calc(1em + 1.5vh);
        font-family: Helvetica;
        padding: 5%;
        padding-left: 0%;
        flex: 1.1;
    }
}

@media screen and (orientation: portrait) {
    #content1 {
        height: calc(1em + 55vw);
    }

    #intro {
        height: calc(1em + 8vh);
        width: 80%;
    }

    #introcontent {
        font-size: calc(1em + 0.5vw);
        font-family: Helvetica;
        flex: 1;
    }

    #starter { 
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(51, 51, 51);
        color: white; */
        background-color: white;
        color: black;
    }

    #judgingpic {  
        flex: 1.6;
        width: 80%;
        background-image: url(./img/wesley-tingey-9z9fxr_7Z-k-unsplash.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #judgingcontent {
        font-size: calc(1em + 0.5vw);
        font-family: Helvetica;
        flex: 0.4;
        padding: 10%;
    }
}

